extends layout

block content
  div(class="container")
    div(class="col-md-8 col-md-offset-2")
      h1 Document not found
      i(class="fa fa-5x fa-minus-circle fa-pull-right fa-red-icon")
      p The document you requested is not on this server. Please 
        a(href="/") return to the home page
        |  and look again. Thanks!
