extends layout

block content
  div(class="container")
    div(class="col-md-10 col-md-offset-1")
        i(class="fa fa-question-circle fa-5x fa-pull-right")
        h1 About this site
        h2 The basics
        p Speaker Bingo is a server application that provides a Web-based administration of bingo cards to be used during presentations. Administration is done through a desktop site, while the cards are accesses by mobile devices through another site.

        i(class="fa fa-gears fa-5x fa-pull-right") 
        h2 Technologies used
        p The site is written in JavaScript on the 
          a(href="http://nodejs.org/") Node.js
          |  platform. It's built on the 
          a(href="https://expressjs.com/") Express.js
          |  framework, and uses 
          a(href="https://mongodb.com/") mongoDB
          |  for the back-end database.

        p The UI uses 
          a(href="http://jquery.com/") jQuery
          |  for interactivity, along with 
          a(href="http://getbootstrap.com/") Bootstrap
          |  for look-n-feel.

        p The headline font is 
          a(href="https://fonts.google.com/specimen/Lobster") Lobster,
          |  a delightful font that you could take home to meet the parents. 
          |  The text font is 
          a(href="https://fonts.google.com/specimen/Open+Sans") Open Sans.
          |  Both of these fonts are available through the rather exciting 
          a(href="https://fonts.google.com/") Google Fonts site
          |  (well, exciting to fans of fonts). 
        p There are also some icons here and there from 
          a(href="http://fontawesome.io/") Font Awesome,
          |  the iconic font and CSS toolkit. 

        i(class="fa fa-male fa-5x fa-pull-right")
        h2 About the developer
        p This site was created by James Allenspach, responsible for many other sites that you may be aware of. Further details at 
          a(href="http://manminusone.com/") manminusone.com
          | , or see the Contact page.