extends layout

block content
  script(src="/javascripts/bingo-entry.js")
  div(class="container")
    a(class="fa fa-file fa-5x fa-pull-right")
    h1 New Bingo Session

    h2= message
    form(method="post" action="/bingo/save")
      input(type="hidden" name="choices" id="choices")
      p Give me a title: 
        input(type="text" name="bingoTitle" id="bingoTitle")
      p Start entering your choices in this text box:
        br
        input(type="text" name="bingoEntry" id="bingoEntry")
      p And use this list box to edit or delete items.
        br
        ul(class="bingoList" id="bingoList" name="bingoList")

      p And when you're ready,
        input(type="submit" id="submitButton" name="submitButton" value="click to continue")

      p ...or 
        a(href="/overview") back to the overview