extends layout

block content
  div(class="container")
    div(class="jumbotron")
      h1 speaker bingo
      p Where you can create your own speaker bingo cards!
      p Another paragraph goes here, explaining what's going on.

    div(class="col-md-4")
      h2   
        i(class="fa fa-question-circle")
        |  What's this? 

      p It's a site where you can create speaker bingo cards!
      a(href="/static/about" class="btn btn-default btn-lg") Read More

    div(class="col-md-4")
      h2   
        i(class="fa fa-exclamation-circle")
        |  Let's go! 
      p The easiest way to explain the site is to create your own bingo cards and try them out!
      a(href="/signup" class="btn btn-default btn-lg") Let's go!

    div(class="col-md-4")
      h2   
        i(class="fa fa-github")
        |  Use the source!
      p This project is available on Github for your usage and improvement!
      a( href="https://github.com/manminusone/speaker-bingo" class="btn btn-default btn-lg") See Github repo