extends layout

block content
  a(href="https://github.com/manminusone/schwitr")
    img(style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png")
  div(class="container")
    div(class="jumbotron")
      h1 speaker bingo
      h2 Where you can create your own bingo cards for your events!
      p Generate a random bingo card for your audience to use during a speech, debate, presentation, or other public event. Give out the URL to your audience, and they'll be able to play bingo on their mobile devices!

    div(class="col-md-4")
      h2   
        i(class="fa fa-question-circle")
        |  What's this? 

      p This is a free, open source Node.js application that allows you to create and administer bingo cards.
      a(href="/static/about" class="btn btn-default btn-lg") Read More

    div(class="col-md-4")
      h2   
        i(class="fa fa-exclamation-circle")
        |  Let's go! 
      p The easiest way to explain the site is to create your own bingo cards and try them out!
      a(href="/signup" class="btn btn-default btn-lg") Let's go!

    div(class="col-md-4")
      h2   
        i(class="fa fa-github")
        |  Use the source!
      p This project is available on Github for your usage and improvement. 
      a( href="https://github.com/manminusone/speaker-bingo" class="btn btn-default btn-lg") See Github repo