extends layout

block content
  div(class="container")
    div(class="col-md-8 col-md-offset-2")
        i(class="fa fa-info-circle fa-5x fa-pull-right") 
        h1= title

        - var lines = message.split("\n");
        - lines.forEach(function(l) {
          p= l
        - })