extends layout

block content
  h1 Overview

  div(class="screenAdmin")
    p Your uri = #{presentation.uri}
    - if (bingos.length == 0)
      p You have no bingo sessions saved. 
        a(href='/bingo/new') Create one?
    - else
      p Your bingo sessions:
      - for (var i = 0; i < bingos.length; ++i)
        p 
          a(href="/bingo/edit/"+i) #{bingos[i].title} 
          - if (presentation.testBingoId && bingos[i]._id.toString() == presentation.testBingoId.toString())
            a(href="/bingo/test-off") [ 
              strong TESTING 
              | ]
          - else
            a(href="/bingo/test/"+i) [ test me ]
      p Or, if you want to create a new one, 
        a(href='/bingo/new') click here
  div(class="mobileAdmin")
    p= presentation.uri
    - for (var i = 0; i < bingos.length; ++i)
      div(data-role="collapsible")
        h4= bingos[i].title
        p something goes here
