extends layout

block content
  div(class="container")
    div(class="col-md-10 col-md-offset-1")
        i(class="fa fa-legal fa-my-icon fa-pull-right")
        h1 Terms of service

        p By using this site, you agree and accept to these terms. If you don't accept, then don't use this site.

        p This site and its contents are offered for entertainment purposes only. No endorsement of the values or opinions expressed by the user-generated content are intended or implied. 

        p We reserve the right to remove any content deemed objectionable by users, including but not limited to: copyright-infringing content; any content containing malicious code that attempts to access the server or any other users' computers; and slanderous, pornographic, or defamatory content. The use of this site means that you agree that you will not create or upload content of this kind.

        p Reporting of objectionable content may be done through the Contact page of this site. We will try to answer all queries and requests within a reasonable amount of time. 

        p The user-generated content on this site will not be shared with any third parties, except of course through the publicly available URLs used to access and operate the site and access its content. Any contact information entered by users will be used only for the purpose of contact related to the access and operation of this site.

        p This project is licensed under 
          a(href="https://creativecommons.org/licenses/by-sa/4.0/") a Creative Commons Attribution-ShareAlike 4.0 International License.
          |  The third-party libraries and graphics used on this site are covered by their own separate licenses. See the About page for a list of the various components used here.

    
