extends layout

block content
  script(src="/javascripts/overview.js")
  div(class="container")
    i(class="fa fa-gears fa-5x fa-pull-right")
    h1 Overview

    div(class="screenAdmin")
      h1 User profile
      h2 #{user.email} 
        img(src=gravatar)

      - if (user.isActive && user.isValidated) {
        p If you want to create a new presentation, 
          a(href='/bingo/new') click here
      - } else if (!user.isValidated) {
        div(class="col-md-12")
          p Your account needs to be verified. Check your email for a verification message.
          p If you want to re-send, 
            a(href="/activation") click here.
      - }

    div(class="mobileAdmin")
      p something goes here
