extends layout

block content
  script(src="/javascripts/signup.js")
  div(class="container")
    i(class="fa fa-user fa-5x fa-pull-right")
    h1 Sign up

    p Before you can start creating your bingo cards, please create a user account. If your email is already in our system and you've forgotten your password, don't fret: you can 
      a(href="/pwdreset") send yourself an email 
      | to get your password reset.

    - if (message)
      div(class="alert alert-danger alert-dismissible" role="alert")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        strong Error: 
        | #{message}

    form(method="post")
        table
            tr
                th Your email
                td
                    input(type="text" id="email" name="email" value=email)
            tr
                th Password
                td
                    input(type="password" id="pwd" name="pwd")
            tr
                th Ready?
                td
                    input(type="submit" value="Yep, let's go")

