extends layout

block content
  script(src="/javascripts/user-profile.js")
  link(rel="stylesheet" href="/stylesheets/user-profile.css")
  div(class="container")
    i(class="fa fa-gears fa-5x fa-pull-right")
    h1 Overview

    div(class="screenAdmin")
      h1 User profile
      h2 #{user.email} 
        img(src=gravatar)

      - if (user.isActive && user.isValidated) {
        p Here on the profile page, you can create 
          strong presentations. 
          | A presentation is associated with a single URI on the mobile site, and consists of a collection of 
          strong games. 
          | This allows you, for example, to prepare multiple games for a single event. 

        div(id="ovPres" name="ovPres" class="presContainer")

        p If you want to create a new presentation, click this button.
          button(type="button" class="btn btn-primary" id="newPresentationButton" name="newPresentationButton") 
            i(class="fa fa-plus-circle") 
            |   Add new presentation
      - } else if (!user.isValidated) {
        div(class="col-md-12")
          p Your account needs to be verified. Check your email for a verification message.
          p If you want to re-send, 
            a(href="/activation") click here.
      - }

    div(class="mobileAdmin")
      p something goes here
