extends layout

block content
  script(src="/javascripts/user-profile.js")
  link(rel="stylesheet" href="/stylesheets/user-profile.css")
  div(class="container")
    i(class="fa fa-gears fa-5x fa-pull-right")
    div(class="screenAdmin")
      h1 User profile

      table
        tr
          th Email
          td= user.email 
            
        tr
          th Full name
          td
            input(type="text" id="name" name="name" value=user.name)
        tr
          th Save
          td
            button(type="button" id="saveButton")
              i(class="fa fa-save") 
              |  Save

      h2 Presentations

      p Each presentation is associated with a unique URI which will be reserved for you on the mobile site. 

      - if (user.presentations.length > 0) {
      -   for(var iter = 0; iter < user.presentations.length; ++iter) {
            div(class="presentationDiv")
              table(style="width: 100%")
                tr
                  td(style="width: 50%")
                    h2 /#{user.presentations[iter].uri}
                  td
                    a(href="/bingo/"+(iter+1)+'/new' class="btn btn-primary") 
                      i(class="fa fa-plus-circle")
                      |  Add item

      -   }
      - }

      p &nbsp;
      button(type="button" class="btn btn-primary" id="newPresentationButton" name="newPresentationButton")
        i(class="fa fa-plus-circle") 
        |  Add a presentation

      p &nbsp;
      form(method="post" action="/presentation/new")
        div(class="hidden bg-primary new-div" id="newDiv" name="newDiv")
          table(class="nice-table")
            tr
              th Enter your new URI 
              td /
                input(type="text" id="uri" name="uri")  
                |  
                button(type="button" class="btn btn-default" id="checkUriButton" name="checkUriButton") Check availability
            tr
              td(colspan=2) &nbsp;
            tr
              th 
              td
                button(type="button" class="btn btn-primary" disabled="disabled" id="createPresentationButton" name="createPresentationButton")
                  i(class="fa fa-save")
                  |  Save and continue



    div(class="mobileAdmin")
      p something goes here
