        div(id="ovPres" name="ovPres" class="presContainer")
          h3 /20x2chi
          div
            div(class="col-md-8")
              ul(class="bingoList")
                li pres1 
                  small 25 items
                  span(class="pull-right")
                    i(class="fa fa-pencil-square-o editIcon")
                    |  
                    i(class="fa fa-circle activeIcon")  
                    |  
                    i(class="fa fa-times-circle delIcon")
                li pres2
                li pres3

            div(class="col-md-4")
              table
                tr 
                  th Name 
                  td 
                    input(type="text" name="thisName" id="thisName" value="Name here")
                tr 
                  td 
                  td
                    input(type="text" name="adder" id="adder" placeholder="Type items here")
                tr
                  td
                  td
                    ul(class="choiceList")
                      li item 1 is a very long item that might stretch for a while
                      li item 2
                      li item3
                      li item4
                       li item5
                       li item 6
                       li item 7
                       li item 8
                       li item 9
                       li item 10
