extends layout

block content
  h1= title

  h2 Want to sign up? Course you do!

  form(method="post")
      table
          tr
              th http://speaker.bingo/
              td
                  input(type="text" name="uri")
          tr
              th Your email
              td
                  input(type="text" name="email")
          tr
              th Password
              td
                  input(type="password" name="pwd")
          tr
              th Ready?
              td
                  input(type="submit" value="Yep, let's go")

