 @import 'https://fonts.googleapis.com/css?family=Lobster|Open+Sans';

body {
  padding: 0px;
  font: 14px 'Open Sans',"Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #666;
}

/* mobile first! */
.mobileAdmin { display: inline; }
.screenAdmin { display: none; }


@media (min-width: 800px) {

	.mobileAdmin { display: none; }
	.screenAdmin { display: inline; }

}

.navbar-brand { font-family: Lobster,cursive; font-size: 2em; }
.jumbotron h1 { font-family: Lobster,cursive; }

.my-footer { background: #333; color: #fff; padding: 8px; }

div.container h1 { font-family: Lobster,cursive; font-size: 3.5em; }
.niceTable th { padding: 4px; font-size: 1.5em; text-align: right; }