.new-div { padding: 8px; width: 50%; }
.nice-table  th { padding-right: 24px; }
.nice-table input { color: #000; }

.presentationDiv { width: 80%; background: #ccf; color: #003; border: 3px solid black; padding: 8px;  }