html
  head
  meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
  title= subject
  body
    h1 Activate your account
    p Hello, speaker! 
    p If you signed up for a new account at speaker.bingo, you can activate your account by clicking here.
    p
      a(href=siteUrl + '/activate?q='+activation.hash) 
        h1 Click me!

    p If you did not sign up for this site, no fear; you can ignore this email. 

    p Yours,
      br
      | The Management     
    