html
  head
  meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
  title= subject
  body
    h1 Change your email
    p Hello, speaker! 
    p To confirm your email address change, please click this link.
    p
      a(href=siteUrl + '/profile/email?q='+hash) 
        h1 Click me!

    p If you did not sign up for this site, no fear; you can ignore this email. 

    p Yours,
      br
      | The Management     
    