extends layout

block content
  h1= uri
  h2= title

  div(class="bingoSquare")
    div(class="bingoContent")
      div(class="bingoTable")
        div(class="bingoCell bingoHeader bingoCellOff")
          | B
  div(class="bingoSquare")
    div(class="bingoContent")
      div(class="bingoTable")
        div(class="bingoCell bingoHeader bingoCellOff")
          | I
  div(class="bingoSquare")
    div(class="bingoContent")
      div(class="bingoTable")
        div(class="bingoCell bingoHeader bingoCellOff")
          | N
  div(class="bingoSquare")
    div(class="bingoContent")
      div(class="bingoTable")
        div(class="bingoCell bingoHeader bingoCellOff")
          | G
  div(class="bingoSquare")
    div(class="bingoContent")
      div(class="bingoTable")
        div(class="bingoCell bingoHeader bingoCellOff")
          | O

  - for (var row = 1; row <= 5; ++row) {
    - for (var col = 1; col <= 5; ++col) {
      div(class="bingoSquare")
        div(class="bingoContent")
          div(class="bingoTable")
            div(class="bingoCell bingoCellOff")
            - if (row == 3 && col == 3)
              | FREE SPACE
            - else {
              - var item = choices.shift();
              | #{item}
            - }
    - }
  - }
